In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#1.0 Examine Data types for each variable

#read the d1 dataset
df = pd.read_csv('Data.csv')

#show all columns information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51766 entries, 0 to 51765
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              51766 non-null  int64
 1   patient_nbr               51766 non-null  int64
 2   race                      51766 non-null  object
 3   gender                    51766 non-null  object
 4   age                       51766 non-null  object
 5   weight                    51766 non-null  object
 6   admission_type_id         51766 non-null  int64
 7   discharge_disposition_id  51766 non-null  int64
 8   admission_source_id       51766 non-null  int64
 9   time_in_hospital          51766 non-null  int64
 10  payer_code                51766 non-null  object
 11  medical_specialty         51766 non-null  object
 12  num_lab_procedures        51766 non-null  int64
 13  num_procedures            51766 non-null  int64
 14  num_medications           51766 non-null  int64
 15  number_outpatient         51766 non-null  int64
 16  number_emergency          51766 non-null  int64
 17  number_inpatient          51766 non-null  int64
 18  diag_1                    51766 non-null  object
 19  diag_2                    51766 non-null  object
 20  diag_3                    51766 non-null  object
 21  number_diagnoses          51766 non-null  int64
 22  max_glu_serum             51766 non-null  object
 23  A1Cresult                 51766 non-null  object
 24  metformin                 51766 non-null  object
 25  repaglinide               51766 non-null  object
 26  nateglinide               51766 non-null  object
 27  chlorpropamide            51766 non-null  object
 28  glimepiride               51766 non-null  object
 29  acetohexamide             51766 non-null  object
 30  glipizide                 51766 non-null  object
 31  glyburide                 51766 non-null  object
 32  tolbutamide               51766 non-null  object
 33  insulin                   51766 non-null  object
 34  change                    51766 non-null  object
 35  diabetesMed               51766 non-null  object
 36  readmitted                51766 non-null  object
dtypes: int64(13), object(24)
memory usage: 14.6+ MB
None

In [4]:
#1.0 Correct the data-types
def d1_prep():
    #read the d1 dataset
    d1 = pd.read_csv('d1.csv')
    
    #Variable data type casting
    #Change admission_type_id from interval/int to nominal/str
    d1['admission_type_id'] = d1['admission_type_id'].astype(str)
    
    #Change discharge_disposition_id from interval/int to nominal/str
    d1['discharge_disposition_id'] = d1['discharge_disposition_id'].astype(str)
    
    #Change admission_source_id from interval/int to nominal/str
    d1['admission_source_id'] = d1['admission_source_id'].astype(str)
    
    #Change 'change' to binary 0/1 variable
    change_map = {'change':0, 'no change': 1}
    d1['change'] = d1['change'].map(change_map)

    #Change diabetesMed to binary 0/1 variable
    diabetesMed_map = {'yes':0, 'no': 1}
    d1['diabetesMed'] = d1['diabetesMed'].map(diabetesMed_map)
    
    return d1

#from d1_tools import d1_prep

In [5]:
#Return dataset with updated variable types.
d1 = d1_prep()

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51766 entries, 0 to 51765
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              51766 non-null  int64
 1   patient_nbr               51766 non-null  int64
 2   race                      51766 non-null  object
 3   gender                    51766 non-null  object
 4   age                       51766 non-null  object
 5   weight                    51766 non-null  object
 6   admission_type_id         51766 non-null  int64
 7   discharge_disposition_id  51766 non-null  int64
 8   admission_source_id       51766 non-null  int64
 9   time_in_hospital          51766 non-null  int64
 10  payer_code                51766 non-null  object
 11  medical_specialty         51766 non-null  object
 12  num_lab_procedures        51766 non-null  int64
 13  num_procedures            51766 non-null  int64
 14  num_medications           51766 non-null  int64
 15  number_outpatient         51766 non-null  int64
 16  number_emergency          51766 non-null  int64
 17  number_inpatient          51766 non-null  int64
 18  diag_1                    51766 non-null  object
 19  diag_2                    51766 non-null  object
 20  diag_3                    51766 non-null  object
 21  number_diagnoses          51766 non-null  int64
 22  max_glu_serum             51766 non-null  object
 23  A1Cresult                 51766 non-null  object
 24  metformin                 51766 non-null  object
 25  repaglinide               51766 non-null  object
 26  nateglinide               51766 non-null  object
 27  chlorpropamide            51766 non-null  object
 28  glimepiride               51766 non-null  object
 29  acetohexamide             51766 non-null  object
 30  glipizide                 51766 non-null  object
 31  glyburide                 51766 non-null  object
 32  tolbutamide               51766 non-null  object
 33  insulin                   51766 non-null  object
 34  change                    51766 non-null  object
 35  diabetesMed               51766 non-null  object
 36  readmitted                51766 non-null  object
dtypes: int64(13), object(24)
memory usage: 14.6+ MB
None

In [6]:
#2.1 Identify skewness in variables

#Select for numeric data
d2 = d1.select_dtypes(include=[np.number])

print(d1.skew(axis = 0, skipna = True))
print(d2.skew(axis = 0, skipna = True))

encounter_id                 0.828531
patient_nbr                  0.609771
admission_type_id            1.855348
discharge_disposition_id     3.237941
admission_source_id          0.155033
time_in_hospital             1.197872
num_lab_procedures          -0.342571
num_procedures               1.385591
num_medications              1.189992
number_outpatient            7.794017
number_emergency            21.279724
number_inpatient             3.494846
number_diagnoses            -1.303386
change                            NaN
diabetesMed                       NaN
dtype: float64
encounter_id           0.828531
patient_nbr            0.609771
time_in_hospital       1.197872
num_lab_procedures    -0.342571
num_procedures         1.385591
num_medications        1.189992
number_outpatient      7.794017
number_emergency      21.279724
number_inpatient       3.494846
number_diagnoses      -1.303386
change                      NaN
diabetesMed                 NaN
dtype: float64

In [7]:
#2.2 Inconsistencies in the data
print("Unique values: \n",d1['race'].unique(), "\nCount: \n", d1['race'].value_counts())
print("\n")
print("Unique values: \n",d1['gender'].unique(), "\nCount: \n", d1['gender'].value_counts())
print("\n")
print("Unique values: \n",d1['age'].unique(), "\nCount: \n", d1['age'].value_counts())
print("\n")
print("Unique values: \n",d1['weight'].unique(), "\nCount: \n", d1['weight'].value_counts())
print("\n")
print("Unique values: \n",d1['payer_code'].unique(), "\nCount: \n", d1['payer_code'].value_counts())
print("\n")
print("Unique values: \n",d1['medical_specialty'].unique(), "\nCount: \n", d1['medical_specialty'].value_counts())
print("\n")
print("Unique values: \n",d1['chlorpropamide'].unique(), "\nCount: \n", d1['chlorpropamide'].value_counts())
print("\n")

Unique values:
 ['Caucasian' 'AfricanAmerican' 'Hispanic' '?' 'Other' 'Asian']
Count:
 Caucasian          40388
AfricanAmerican     8070
Hispanic            1018
?                   1016
Other                896
Asian                378
Name: race, dtype: int64


Unique values:
 ['Female' 'Male' 'Unknown/Invalid']
Count:
 Female             27718
Male               24044
Unknown/Invalid        4
Name: gender, dtype: int64


Unique values:
 ['[60-70)' '[80-90)' '[70-80)' '[40-50)' '[50-60)' '[90-100)' '[30-40)'
 '[20-30)' '[10-20)' '[0-10)' '?']
Count:
 [70-80)     12972
[60-70)     11618
[80-90)      9671
[50-60)      8482
[40-50)      4619
[30-40)      1717
[90-100)     1616
[20-30)       815
[10-20)       223
[0-10)         23
?              10
Name: age, dtype: int64


Unique values:
 ['?' '[100-125)' '[50-75)' '[75-100)' '[0-25)' '[125-150)' '[25-50)'
 '[150-175)' '[175-200)' '>200']
Count:
 ?            50431
[75-100)       542
[50-75)        347
[100-125)      309
[125-150)       72
[25-50)         29
[150-175)       18
[0-25)          11
[175-200)        5
>200             2
Name: weight, dtype: int64


Unique values:
 ['?' 'MD' 'BC' 'MC' 'HM' 'CP' 'SP' 'OG' 'UN' 'DM' 'CM' 'PO' 'SI' 'WC' 'CH'
 'OT' 'MP' 'FR']
Count:
 MC    23046
?      7601
HM     4702
SP     3808
BC     3165
MD     2537
CP     1801
CM     1696
UN     1192
OG      879
PO      511
DM      412
CH      127
WC      100
OT       83
MP       79
SI       26
FR        1
Name: payer_code, dtype: int64


Unique values:
 ['InternalMedicine' '?' 'Cardiology' 'Emergency/Trauma' 'Neurology'
 'Surgery-General' 'Family/GeneralPractice'
 'Surgery-Cardiovascular/Thoracic' 'Surgery-Vascular' 'Oncology'
 'Osteopath' 'Surgery-Neuro' 'Radiologist' 'Nephrology' 'Pulmonology'
 'Orthopedics-Reconstructive' 'Gastroenterology' 'Surgery-Plastic'
 'Surgery-Pediatric' 'Psychiatry' 'Orthopedics' 'Urology'
 'Surgery-Cardiovascular' 'Gynecology' 'PhysicalMedicineandRehabilitation'
 'ObstetricsandGynecology' 'Hematology/Oncology' 'Podiatry'
 'Otolaryngology' 'Surgeon' 'Pediatrics' 'Psychology' 'Hematology'
 'OutreachServices' 'Endocrinology' 'Pathology' 'Obstetrics'
 'Surgery-Thoracic' 'Cardiology-Pediatric' 'Ophthalmology' 'Rheumatology'
 'SurgicalSpecialty' 'Surgery-Maxillofacial' 'Hospitalist'
 'InfectiousDiseases' 'Perinatology' 'PhysicianNotFound' 'Neurophysiology'
 'Anesthesiology' 'Radiology' 'Endocrinology-Metabolism' 'DCPTEAM'
 'Resident']
Count:
 ?                                    32203
Emergency/Trauma                      5616
InternalMedicine                      3854
Family/GeneralPractice                1949
Cardiology                            1667
Surgery-General                       1326
Radiologist                           1070
Orthopedics                            681
Nephrology                             468
Surgery-Vascular                       332
Gastroenterology                       297
Orthopedics-Reconstructive             286
Psychiatry                             244
Pulmonology                            211
Urology                                203
ObstetricsandGynecology                185
Oncology                               143
Neurology                              110
Surgery-Cardiovascular/Thoracic        105
Surgery-Neuro                           76
Podiatry                                72
Psychology                              64
Pediatrics                              59
Hematology                              59
Surgery-Cardiovascular                  58
Hospitalist                             54
Surgery-Thoracic                        54
Gynecology                              34
Otolaryngology                          33
SurgicalSpecialty                       32
Ophthalmology                           30
PhysicalMedicineandRehabilitation       28
Surgeon                                 25
Osteopath                               17
Obstetrics                              15
InfectiousDiseases                      14
Surgery-Plastic                         14
OutreachServices                        11
Rheumatology                            10
Endocrinology-Metabolism                 8
PhysicianNotFound                        7
Radiology                                6
Cardiology-Pediatric                     6
Endocrinology                            6
DCPTEAM                                  6
Pathology                                5
Hematology/Oncology                      4
Surgery-Maxillofacial                    3
Resident                                 2
Perinatology                             1
Anesthesiology                           1
Surgery-Pediatric                        1
Neurophysiology                          1
Name: medical_specialty, dtype: int64


Unique values:
 ['No' '?' 'Steady' 'Up']
Count:
 No        51738
Steady       18
?             9
Up            1
Name: chlorpropamide, dtype: int64

In [9]:
#question 4.1
d2.mean()

encounter_id          2.445955e+08
patient_nbr           7.181953e+07
time_in_hospital      4.237337e+00
num_lab_procedures    4.385320e+01
num_procedures        1.308214e+00
num_medications       1.673585e+01
number_outpatient     5.128463e-01
number_emergency      2.691728e-01
number_inpatient      6.868794e-01
number_diagnoses      7.928486e+00
change                         NaN
diabetesMed                    NaN
dtype: float64

In [10]:
d2.median()

encounter_id          228334512.0
patient_nbr            70375977.0
time_in_hospital              3.0
num_lab_procedures           45.0
num_procedures                1.0
num_medications              16.0
number_outpatient             0.0
number_emergency              0.0
number_inpatient              0.0
number_diagnoses              9.0
change                        NaN
diabetesMed                   NaN
dtype: float64

In [12]:
d2.mode()[0:1]

,encounter_id,patient_nbr,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,change,diabetesMed
0,150645834,88785891.0,3.0,1.0,0.0,15.0,0.0,0.0,0.0,9.0,NaN,NaN